<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="greenee.user">
  <select id="selectAllUsers">
  SELECT 
  *
  FROM 
    users
  </select>
  <select id="duplicatedUser">
    SELECT
    *
    FROM 
      users
    <where>
      id=#{id}
      OR
      nickName=#{nickName}
      OR
      cellphone=#{cellphone}
    </where>
  </select>
  <insert id="signupUser">
    INSERT INTO users
    SET ?
  </insert>
  <select id="signinUser">
    SELECT
    *
    FROM
      users
    <where>
        id=#{id}
        AND
        pwd=#{pwd}
      </where>
  </select>

  <update id="updateUser">
    UPDATE users
    <set>
      nickName=#{nickName},
      cellphone=#{cellphone},
      age=#{age},
      gender=#{gender}
    </set>
    <where>
      id=#{id}
    </where>
  </update>
  <insert id="insertMeta">
    INSERT INTO meta
    SET ?
  </insert>
  <select id="getAllData">
    SELECT
    *
    FROM
      meta
  </select>
</mapper>